[submodule "WeatherStationWeb"]
	path = WeatherStationWeb
	url = git@github.com:patrickn/WeatherStationWeb.git
[submodule "WeatherStationBase"]
	path = WeatherStationBase
	url = git@github.com:patrickn/WeatherStationBase.git
[submodule "flot"]
	path = flot
	url = https://github.com/flot/flot.git
